* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

button {
  font-family: inherit;
}

i {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: inline-block;
}

.container {
  width: 1278px;
  margin: 0 auto;
}

.buy-icon,
.search-icon {
  z-index: 10;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  cursor: pointer;
}

.buy-icon {
  background-image: url('../images/icons/buy-icon.svg');
}

.title {
  font-size: 72px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -0.02em;
}
