.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icons-wrapper {
    display: flex;
    gap: 12px;
  }
}

.menu-btn {
  display: inline-flex;
  align-items: center;
  padding: 15px 20px;
  color: $text-color-light;
  font-size: 16px;
  font-weight: 400;
  background-color: $color-main;
  border: none;
  border-radius: 62px;
  cursor: pointer;

  &__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background-size: contain;
  }
}
