.reviews {
  padding-bottom: 125px;

  &__inner {
    display: flex;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-basis: 66.7%;

    &-img {
      height: 710px;
      border-radius: 225px 225px 24px 24px;
      box-shadow: 0px 3px 3px rgba($text-color-dark, 0.25);
    }

    &-text {
      margin-top: 110px;
      margin-bottom: 48px;
      color: rgba($text-color-dark, 0.5);
      font-size: 27px;
      font-weight: 700;
      line-height: 30px;
    }

    &-client {
      margin-bottom: 58px;
      color: rgba($text-color-dark, 0.75);
      font-size: 60px;
      font-weight: 700;
      line-height: 62px;
    }

    &-model {
      display: block;
      color: rgba($text-color-dark, 0.65);
      font-family: $font-ibm;
      font-size: 16px;
      line-height: 23px;

      &-name {
        color: rgba($text-color-dark, 0.75);
        font-size: 19px;
        font-weight: 700;
        line-height: 30px;
      }
    }
  }
}
